body {
  width: 100%;
  position: relative;
}

.container {
  height: 2150px;
  // width: 100%;
  max-width: 1920px;
  position: relative;
  display: flex;
  margin: auto;
  // z-index: -1;
}

.main__wrapper {
  height: 100%;
  width: 1325px;
  display: flex;
  flex-direction: column;
  position: relative;
  // margin-right: 220px;
}

.aside__wrapper {
  display: flex;
  flex-direction: column;
  width: 188px;
  height: 670px;
  margin-left: 186px;
  // margin-top: 14px; // fits the layout
  margin-top: 40px; // matches the requirements
  position: sticky;
  top: 10px;
  margin-bottom: 450px;
}

// .zoo-image-border {
//   position: relative;
//   top: 17px;
//   right: 8px;
// }

.forest_zoo {
  width: 100%;
  height: 493px;
  background-image: url(../../../assets/images/forest-background404.svg);
  background-repeat: no-repeat;
  background-position: center top;
  display:flex;
  position: relative;
  top: 85px;
} .forest-images_zoo {
    width: 1920px;
    margin: auto;
    display: flex;
    position: relative;
}

#panda {
  position: absolute;
  left: 940px;
  top: -154px;
}

#bamboo2 {
  position: absolute;
  left: 1030px;
  top: -268px;
}

#tree1 {
  position: absolute;
  left: 383px;
  bottom: -2px;
}

#tree3 {
  position: absolute;
  left: 1691px;
  top: -112px;
}

#penguin {
  position: absolute;
  left: 575px;
  top: 18px;
}

.pay-and-feed-btn {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 132px;
  background: #C5E1E6;
  border-radius: 100px;
  border: none;
  position: absolute;
  width: 356px;
  height: 52px;
  cursor: pointer;
  font-family: "Roboto Mono";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #0D444D;
}

.pay-and-feed-btn:hover {
  color: #ffffff;
  background-color: $black;
  box-shadow: 0px 2px 50px rgba(1, 24, 27, 0.6);
}


.zoo-image__frame {
  cursor: pointer;
  width: 76px;
  height: 74px;
  clip-path: path("M52.3634 66.2422L52.3625 66.2426C42.6079 71.353 31.6849 74.9978 22.4409 71.8232L22.4389 71.8225C13.1919 68.7067 5.44283 58.8433 2.10629 47.1001C-1.16887 35.3578 0.000248415 21.8489 6.98486 13.0163C14.0321 4.12084 26.9009 -0.239575 39.0852 0.425826C51.1978 1.09062 62.5033 6.71126 69.0213 15.4431C75.5448 24.2434 77.3487 36.2349 73.9762 45.4295C70.6068 54.6159 62.1663 61.1384 52.3634 66.2422Z");
  position: absolute;
  // left: 27px;
  // top: 37px;
  overflow: hidden;
  transition: transform 0.5s;
}

.zoo-image-border {
  transition: transform 0.5s;
}

.zoo-image__frame::before {
  content: "";
  position: absolute;
  top: -10%;
  bottom: -10%;
  left: -10%;
  right: -10%;
  background: var(--i) center/cover;
  transition: transform 0.5s;
}

.current-zoo-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-zoo-image:hover .zoo-image-border,
.current-zoo-image:hover .zoo-image__frame,
.zoo-image__frame:hover {
  transform: rotate(360deg);
  // animation: rotate 0.5s linear;
}
.current-zoo-image:hover .zoo-image__frame::before,
.zoo-image__frame:hover::before {
  transform: rotate(-360deg);
}


.aside__pet-item {
  position: relative;
  height: 161px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aside__pet-item-title {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #2D2D2D;
  padding: 0;
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: 0;
}

@media (max-width: 1920px) {
  .container {
    max-width: 1920px;
    width: 100%;
  }
  // .zoo-image-border {
  //   top: 20px;
  //   right: -9px;
  // }
  .main__wrapper {
    max-width: 100%;
  }
  .forest_zoo {
    width: 100%;
    height: 493px;
    background-image: url("../../../assets/images/zoo-forest-background-1920.svg");
  }
  .pay-and-feed-btn {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 132px;
  }
  #tree3 {
    display: none;
  }
}


@media (max-width: 1400px) {
  .container {
    height: 1537px;
  }
  .aside__wrapper {
    margin-left: 0;
  }
  .forest_zoo {
    width: 100%;
    height: 493px;
    background-image: url("../../../assets/images/zoo-forest-background-1200.svg");
    background-position: bottom;
  }
  #bamboo2 {
    left: 686px;
    top: -180px;
  }
  #panda {
    left: 602px;
    top: -68px;
  }
  #tree1 {
    left: 154px;
    top: -133px;
  }
  #tree3 {
    display: block;
    left: 979px;
    top: -183px;
  }
  .pay-and-feed-btn {
    left: 175px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 295px;
    height: 40px;
    bottom: 118px;
  }

}
@media (max-width: 1150px) {
  #tree3 {
    display: none;
  }
}

@media (max-width: 970px) {
  .forest_zoo {
    bottom: 78px;
  }
  #bamboo2,
  #panda {
    display: none;
  }
}

@media (max-width: 800px) {
  .forest_zoo {
    background-image: url("../../../assets/images/zoo-forest-background-640.svg");
    bottom: 27px;
    overflow: hidden;
  }
  #bamboo2 {
    left: 107px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 103px;
    top: -97px;
  }
  #panda {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 114px;
    top: -24px;
  }
  #tree1 {
    left: -46px;
    top: -102px;
  }
  #tree3 {
    display: block;
    left: 566px;
    top: -110px;
    width: 88.83px;
    overflow: hidden;
  }
  .pay-and-feed-btn {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 295px;
    height: 40px;
    bottom: 115px;
  }
  .aside__wrapper {
    width: 89px;
    margin-right: 7px;
  }
  .aside__pet-item {
    height: 86px;
  }
  .aside__pet-item-title {
    font-size: 12px;
    line-height: 14px;
  }
  .zoo-image__frame {
    width: 41px;
    height: 40px;
    clip-path: path("M28.4836 36.622L28.483 36.6223C23.1748 39.4143 17.2413 41.3993 12.2247 39.6696L12.2234 39.6692C7.20465 37.9714 2.99257 32.5931 1.17831 26.1824C-0.602477 19.7723 0.0347352 12.4024 3.82778 7.58668C7.6549 2.73663 14.6469 0.35636 21.2706 0.719522C27.8542 1.08229 33.9976 4.14946 37.5385 8.91186C41.0831 13.7125 42.0626 20.2538 40.231 25.2672C38.4014 30.2752 33.8168 33.8343 28.4836 36.622Z");
  }
  .zoo-image-border {
    width: 63px;
    height: 62px;
  }

}

@media (max-width: 500px) {
  .aside__wrapper {
    margin: 0;
    width: 100%;
    position: static;
    background-color: #488D92;
    height: auto;
  }

  .current-zoo-image {
    width: 42px;
  }
  .aside__pet-item-title {
    color: #F3F7F8;
    font-weight: normal;
    text-transform: capitalize;
    font-family: Roboto;
    right: unset;
    left: unset;
    bottom: unset;
    margin-left: 60px;
  }
  .zoo-image-border {
    display: none;
  }
  .aside__pet-item {
    height: 61px;
    border-bottom: 1px solid #6A9C9F;
    align-items: flex-start;
    margin-left: 19px; 
  }
  .aside__wrapper::after {
    display: block;
    content: ' ';
    background-image: url("../../../assets/icons/drop-down-icon.svg");
    background-size: 14px 8px;
    height: 22px;
    width: 22px;
    position: absolute;
    right: 0;
    margin-right: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    top: 18px;
  }
  .aside__pet-item:not(.current) {
    display: none;
  }


}

@media (max-width: 400px) {
  .forest_zoo {
    background-image: none;
    background-color: #2A8086;
    height: 280px;
    margin-bottom: 78px;
  }
  #bamboo2 {
    display: block;
    left: 107px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 103px;
    top: -139px;
  }
  #panda {
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 114px;
    top: -59px;
  }
  #tree1,
  #tree3 {
    display: none;
  }
  .pay-and-feed-btn {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 255px;
    height: 34px;
    bottom: 35px;
  }
}