footer {
  width: 100%;
  height: 200px;
  background-color: #196469;
  position: relative;
  bottom: 0;
} .footer-wrapper {
    max-width: 1920px;
    display: flex;
    align-items: center;
    padding-top: 2px;
    height: 200px;
    margin: auto;
  } .footer-logo {
      margin-left: 11.45%;
  } .footer-nav {
      margin-left: 23px;
      margin-top: 3px;
  } .footer-nav ul {
      min-width: 474px;
      display: flex;
      justify-content: space-between;
  }  
  .footer-credentials {
    width: 288px;
    margin-left: auto;
    margin-right: 91px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
  } p {
    margin-top: 50px;
  }

  @media (max-width: 1200px) {
    footer {
      height: 121px;
    }
    .footer-wrapper {
      max-width: 1200px;
      height: 121px;
    }
    .footer-logo {
      margin-left: 30px;
    }
    .footer-nav ul {
      margin-left: 13px;
    }
    .footer-credentials {
      width: 240px;
      margin-right: 30px;
      font-size: 12px;
      line-height: 14px;
    }
    .footer-credentials p {
      margin-top: 10px;
      line-height: 23px;
    }
  }

  @media (max-width: 966px) {
    footer {
      height: 78px;
    }
    .footer-wrapper {
      height: 78px;
    }
    .footer-nav {
      display: none;
    }
    .footer-logo img {
      width: 49.08px;
    }
    .footer-credentials {
      width: 180px;
      margin-right: 14px;
      font-size: 10px;
      line-height: 12px;
    }
  }

@media (max-width: 700px) {
  .footer-logo {
    margin-left: 20px;
  }
  .footer-credentials p {
    line-height: 18px;
  }
}