body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #2A8086;
  -webkit-filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
          filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
  position: relative;
  z-index: 2;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1920px;
  height: 110px;
  margin: auto;
}

.header-logo {
  margin-left: 11.4%;
}

.header__nav {
  margin-left: 2.76%;
  width: 28.6458%;
}

.header__list {
  padding-left: 0;
  margin-top: 15px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  font-family: "Roboto Mono";
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #C5E1E5;
}

a:hover {
  color: #0D444D;
}

.header-current-page {
  cursor: default;
  border-bottom: 2px solid #C5E1E6;
}

.header-current-page:hover {
  color: #C5E1E5;
}

.header__list-account-link {
  display: none;
}

.header__label-checkbox,
.header__input-checkbox {
  display: none;
  cursor: pointer;
}

h1 {
  font-size: 0.1px;
}

.header-user-btns {
  margin-left: auto;
  margin-right: 11.4583%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 458px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-btn {
  background: none;
  color: #C5E1E5;
  border: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.header-btn:hover {
  color: #0D444D;
}

.search-btn {
  padding-left: 2px;
  padding-right: 15px;
}

.search-btn:hover svg path {
  stroke: #0D444D;
}

.sign-up-btn {
  width: 97px;
  height: 52px;
  border: 1px solid #C5E1E5;
  border-radius: 100px;
}

.sign-up-btn:hover {
  border: 1px solid #0D444D;
}

.header-btn-user-1200 {
  display: none;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-search input {
  width: 200px;
  visibility: hidden;
}

input[type="text"] {
  font-size: 24px;
}

.header-search:hover input {
  visibility: visible;
}

input:focus {
  visibility: visible;
}

@media (max-width: 1500px) {
  .header-logo {
    margin-left: 35px;
  }
}

@media (max-width: 1200px) {
  .header-wrapper {
    max-width: 1200px;
    height: 124px;
    margin: auto;
  }
  .header-logo {
    margin-left: 32px;
  }
  .header__nav {
    margin-left: 52px;
    width: 475px;
  }
  .header-user-btns {
    margin-right: 8px;
    max-width: 533px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-search {
    margin-right: 8px;
  }
  .header-btn-user-1200 {
    display: block;
  }
  .header-btn-user-1200:hover circle {
    fill: #0D444D;
  }
  .log-in-btn,
  .sign-up-btn {
    display: none;
  }
}

@media (max-width: 900px) {
  .header-wrapper {
    max-width: 900px;
    height: 78px;
    margin: auto;
  }
  .header-logo {
    margin-left: 35px;
  }
  .logo-image {
    width: 49.08px;
  }
  .header__list {
    position: fixed;
    width: 100%;
    height: 374px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 78px;
    left: -110%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #2A8086;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 34px 0;
    -webkit-filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
            filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
  }
  .header__input-checkbox:checked ~ .header__list {
    left: 0;
  }
  .header-user-btns {
    display: none;
  }
  .header__label-checkbox {
    display: inline-block;
    position: absolute;
    right: 4.375%;
    top: 26.92%;
  }
  .header__list-account-link {
    display: inline-block;
  }
}

@media (max-width: 640px) {
  .header-wrapper {
    max-width: 640px;
    height: 78px;
    margin: auto;
  }
  .header-logo {
    margin-left: 20px;
  }
  .logo-image {
    width: 49.08px;
  }
  .header__list {
    position: fixed;
    width: 100%;
    height: 384px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 50px;
    left: -110%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #2A8086;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 34px 0;
    -webkit-filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
            filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
  }
  .header__list li a {
    color: #F3F7F8;
    line-height: 52px;
  }
  .header__list li:hover {
    background-color: #C5E1E5;
  }
  .header__input-checkbox:checked ~ .header__list {
    left: 0;
  }
  .header-user-btns {
    display: none;
  }
  .header__label-checkbox {
    display: inline-block;
    position: absolute;
    right: 4.375%;
    top: 27%;
  }
  .header__list-account-link {
    display: inline-block;
  }
}

@media (max-width: 570px) {
  .header-wrapper {
    height: 50px;
    margin: auto;
  }
  .header-logo {
    margin-left: 15px;
    margin-top: 5px;
  }
  .header__label-checkbox {
    right: 7%;
    top: 16%;
  }
}

footer {
  width: 100%;
  height: 200px;
  background-color: #196469;
  position: relative;
  bottom: 0;
}

.footer-wrapper {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px;
  height: 200px;
  margin: auto;
}

.footer-logo {
  margin-left: 11.45%;
}

.footer-nav {
  margin-left: 23px;
  margin-top: 3px;
}

.footer-nav ul {
  min-width: 474px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-credentials {
  width: 288px;
  margin-left: auto;
  margin-right: 91px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
}

p {
  margin-top: 50px;
}

@media (max-width: 1200px) {
  footer {
    height: 121px;
  }
  .footer-wrapper {
    max-width: 1200px;
    height: 121px;
  }
  .footer-logo {
    margin-left: 30px;
  }
  .footer-nav ul {
    margin-left: 13px;
  }
  .footer-credentials {
    width: 240px;
    margin-right: 30px;
    font-size: 12px;
    line-height: 14px;
  }
  .footer-credentials p {
    margin-top: 10px;
    line-height: 23px;
  }
}

@media (max-width: 966px) {
  footer {
    height: 78px;
  }
  .footer-wrapper {
    height: 78px;
  }
  .footer-nav {
    display: none;
  }
  .footer-logo img {
    width: 49.08px;
  }
  .footer-credentials {
    width: 180px;
    margin-right: 14px;
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 700px) {
  .footer-logo {
    margin-left: 20px;
  }
  .footer-credentials p {
    line-height: 18px;
  }
}

.hero {
  width: 100%;
  background-image: url(../../assets/images/hero-background.svg);
  background-repeat: no-repeat;
  background-position: center top;
}

.hero-wrapper {
  height: 795px;
  max-width: 1920px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  width: 628px;
  height: 355px;
  margin-top: 115px;
  margin-left: 219px;
  color: #F3F7F8;
}

.hero-heading {
  font-family: Rubik;
  font-weight: 300;
  font-size: 72px;
  line-height: 81px;
  margin: 0;
}

span {
  font-weight: 400;
  font-size: 64px;
  letter-spacing: 1px;
  vertical-align: bottom;
}

.hero-paragraph {
  width: 480px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  margin: 13px 0 3px 0;
}

.hero-btns {
  display: none;
}

.hero-btn {
  width: 258px;
  height: 52px;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 52px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #0D444D;
  border-radius: 100px;
  border: none;
  margin-top: 84px;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
          box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
}

.hero-btn:hover {
  color: #ffffff;
  background-color: #0D444D;
  -webkit-box-shadow: 0px 2px 50px rgba(1, 24, 27, 0.6);
          box-shadow: 0px 2px 50px rgba(1, 24, 27, 0.6);
}

.hero-donate-btn {
  display: none;
  background-color: #C5E1E5;
}

.hero-image-div {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  position: relative;
  margin: 2.44% 11.51% 2% 2.5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero-image-div svg {
  width: 100%;
}

.hero-play-video-btn {
  width: 16%;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  top: 47%;
  left: 46%;
}

.hero-image {
  cursor: pointer;
  max-width: 804px;
  width: 100%;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.hero-play-video-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.hero-image:hover {
  width: 1000px;
}

@media (max-width: 1920px) {
  .hero {
    width: 100%;
    background-image: url("../../assets/images/hero-background-1920.svg");
  }
  .hero-wrapper {
    width: 100%;
  }
  .hero-text {
    margin-left: 11.4%;
  }
  .hero-image-div {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    position: relative;
  }
}

@media (max-width: 1500px) {
  .hero {
    width: 100%;
    background-image: url("../../assets/images/hero-background-1920.svg");
    background-position-y: top;
  }
  .hero-wrapper {
    height: 795px;
  }
  .hero-text {
    height: 355px;
    width: 573px;
    margin-top: 3%;
    margin-left: 35px;
    color: #F3F7F8;
  }
  .hero-heading {
    font-family: Rubik;
    font-size: 64px;
    line-height: 66px;
    margin: 0;
  }
  span {
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 1px;
    vertical-align: bottom;
  }
  .hero-paragraph {
    width: 480px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    margin: 24px 0 3px 0;
  }
  .hero-btn {
    margin-top: 34px;
  }
  .hero-image-div {
    margin: 0 17px 100px 0px;
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
}

@media (max-width: 1200px) {
  .hero {
    background-image: url("../../assets/images/hero-background-1200.svg");
  }
  .hero-wrapper {
    height: 657px;
  }
  .hero-text {
    margin-left: 30px;
    margin-top: 100px;
  }
  .hero-image-div {
    margin: 0 17px 100px 0px;
  }
}

@media (max-width: 1000px) {
  .hero {
    background-image: url("../../assets/images/hero-background-1200.svg");
  }
  .hero-wrapper {
    height: 657px;
  }
  .hero-text {
    margin-left: 20px;
    margin-top: 28px;
    width: 317px;
  }
  .hero-image-div {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 50px 20px 95px 0px;
  }
  .hero-image-div svg {
    width: 100%;
  }
  .hero-heading {
    font-family: Rubik;
    font-size: 36px;
    line-height: 43px;
    margin: 0;
  }
  span {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1px;
    vertical-align: bottom;
  }
  .hero-paragraph {
    width: 290px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
  }
  .hero__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 360px;
  }
  .hero-btn {
    margin-top: 34px;
    width: 170px;
    height: 37px;
    font-size: 14px;
    line-height: 37px;
  }
  .hero-donate-btn {
    display: inline-block;
  }
}

@media (max-width: 660px) {
  .hero {
    background-image: url("../../assets/images/hero-background-640.svg");
  }
  .hero-wrapper {
    height: 405px;
  }
  .hero-text {
    margin-left: 20px;
    margin-top: 32px;
    width: 317px;
  }
  .hero-image-div {
    margin: 32px 20px 159px 25px;
    position: relative;
  }
  .hero-image-div svg {
    width: 100%;
  }
  .hero-play-video-btn {
    width: 31%;
    top: 25%;
    left: 33%;
  }
  .hero-heading {
    font-family: Rubik;
    font-size: 36px;
    line-height: 38px;
    margin: 0;
  }
  span {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0;
    vertical-align: bottom;
  }
  .hero-paragraph {
    width: 290px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    margin: 21px 0 3px 0;
  }
  .hero-btn {
    margin-top: 27px;
    width: 170px;
    height: 37px;
    font-size: 14px;
    line-height: 37px;
  }
  .hero-donate-btn {
    letter-spacing: 1px;
  }
}

@media (max-width: 570px) {
  .hero {
    background-image: url("../../assets/images/hero-background-320.svg");
    background-position-y: bottom;
  }
  .hero-wrapper {
    height: 531px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-image-div {
    margin: 0;
    width: 255px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .hero-play-video-btn {
    width: 30%;
    top: 21%;
    left: 33%;
  }
  .hero-text {
    width: 300px;
    height: auto;
    margin: 0;
    position: relative;
    top: -21px;
  }
  .hero-heading {
    width: 300px;
    font-family: Rubik;
    font-size: 32px;
    line-height: 28px;
    margin: 0;
  }
  span {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    vertical-align: bottom;
  }
  .hero-paragraph {
    width: 290px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
  }
  .hero-btn {
    margin-top: 34px;
    width: 139px;
    height: 37px;
    font-size: 14px;
    line-height: 37px;
  }
  .hero__btns {
    width: 300px;
    position: relative;
    top: -21px;
  }
}

.how-it-works {
  width: 1480px;
  margin: 0 auto 43px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how-it-works-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 480px;
  height: 292px;
}

.how-it-works-heading {
  position: absolute;
  top: -87px;
  left: 0px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0D444D;
}

.how-it-works-text {
  position: absolute;
  bottom: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #0D444D;
}

@media (max-width: 1920px) {
  .how-it-works {
    width: 100%;
  }
  .how-it-works-item {
    width: 32.22%;
  }
  .how-it-works-heading {
    top: -52px;
  }
}

@media (max-width: 1500px) {
  .how-it-works {
    width: 100%;
  }
  .how-it-works-item {
    width: 32.43%;
  }
}

@media (max-width: 1200px) {
  .how-it-works {
    margin-bottom: 48px;
  }
  .how-it-works-heading {
    top: -39px;
    left: 4px;
  }
  .how-it-works {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    width: 100%;
  }
  .how-it-works-text {
    margin-left: 16px;
    bottom: -45px;
  }
  .how-it-works-item {
    width: 30.41vw;
    height: 188px;
  }
  .how-it-works-icon {
    width: 248px;
    position: absolute;
    left: -118px;
    top: -20px;
  }
}

@media (max-width: 900px) {
  .how-it-works {
    width: 98%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 24px;
    margin-bottom: 24px;
  }
  .how-it-works-item {
    width: 28.27%;
  }
  .how-it-works-icon {
    width: 188px;
    left: 9px;
    top: -24px;
  }
  .how-it-works-heading {
    font-size: 18px;
    line-height: 21px;
    top: -45px;
    left: 13px;
  }
  .how-it-works-text {
    margin-left: 9px;
    bottom: -8px;
  }
}

@media (max-width: 570px) {
  .how-it-works {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
    padding-top: 56px;
    margin-bottom: 27px;
  }
  .how-it-works-item {
    width: 58.75%;
    height: 60%;
  }
  .how-it-works-heading {
    position: absolute;
    top: -37px;
    left: -30%;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #0D444D;
  }
  .how-it-works-text {
    position: absolute;
    bottom: -2px;
    margin-left: 1px;
  }
  .how-it-works-icon {
    width: 182px;
    left: 0px;
    top: -25px;
  }
}

.pets-in-zoo {
  max-width: 1920px;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pets-in-zoo-wrapper {
  width: 1480px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pets-in-zoo-heading {
  width: 1480px;
  margin: 0 auto;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets-in-zoo-heading span {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0D444D;
  letter-spacing: 0px;
}

.pets-in-zoo-heading button {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  width: 331px;
  height: 52px;
  text-transform: uppercase;
  color: #19707D;
  border: 1.5px solid #19707D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  background: none;
  margin-bottom: 4px;
  cursor: pointer;
}

.pets-in-zoo-heading button img {
  margin-right: 5px;
}

.pets-in-zoo-card {
  width: 480px;
  height: 344px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  cursor: pointer;
}

.pets-in-zoo-card-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 100%;
  position: relative;
}

.pets-in-zoo-card-text {
  border-top: 1px solid #E5EAEB;
  height: 91px;
  padding: 0px 31px 0px 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets-in-zoo-card-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #2D2D2D;
  display: inline-block;
  margin: 0;
  padding-bottom: 8px;
}

.pets-in-zoo-card-place {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #919191;
  margin-top: 0;
  margin-bottom: 5px;
}

.pets-in-zoo-heading button:hover {
  color: #ffffff;
  background-color: #0D444D;
  -webkit-box-shadow: 0px 2px 50px rgba(1, 24, 27, 0.6);
          box-shadow: 0px 2px 50px rgba(1, 24, 27, 0.6);
}

.image {
  cursor: pointer;
  width: 229px;
  height: 221px;
  -webkit-clip-path: path("M208.771 45.8713C228.621 72.65 234.135 109.15 223.842 137.212C213.549 165.275 187.817 185.084 158.225 200.49C128.817 215.897 95.5484 227.086 67.2429 217.365C38.9373 207.827 15.4106 177.747 5.30151 142.164C-4.62382 106.582 -1.13158 65.4968 20.1895 38.5347C41.6944 11.3893 80.8442 -1.81665 117.788 0.200917C154.549 2.21848 188.92 19.2761 208.771 45.8713Z");
          clip-path: path("M208.771 45.8713C228.621 72.65 234.135 109.15 223.842 137.212C213.549 165.275 187.817 185.084 158.225 200.49C128.817 215.897 95.5484 227.086 67.2429 217.365C38.9373 207.827 15.4106 177.747 5.30151 142.164C-4.62382 106.582 -1.13158 65.4968 20.1895 38.5347C41.6944 11.3893 80.8442 -1.81665 117.788 0.200917C154.549 2.21848 188.92 19.2761 208.771 45.8713Z");
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.image::before {
  content: "";
  position: absolute;
  top: -10%;
  bottom: -10%;
  left: -10%;
  right: -10%;
  background: var(--i) center/cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.image:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.image:hover::before {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.arrow-btns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 52px;
  height: 412px;
  margin-bottom: 20px;
}

.arrow-btn {
  width: 52px;
  height: 52px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.arrow-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.penguin-svg {
  margin-top: auto;
  margin-left: 10px;
}

@media (max-width: 1920px) {
  .pets-in-zoo-wrapper {
    max-width: 1480px;
    width: 95.16%;
    gap: 2.027%;
  }
  .pets-in-zoo-card {
    width: 31.982%;
    height: 344px;
  }
}

@media (max-width: 1600px) {
  .pets-in-zoo {
    width: 95%;
  }
  .pets-in-zoo-wrapper {
    width: 95.16%;
    gap: 2.027%;
  }
  .pets-in-zoo-card {
    width: 31.982%;
    height: 300px;
    margin-bottom: 30px;
  }
  .pets-in-zoo-card-text {
    height: 72px;
    padding: 0px 31px 0px 29px;
  }
  .pets-in-zoo-card-name {
    font-weight: 500;
    font-size: 16.5148px;
    line-height: 19px;
    padding-bottom: 8px;
  }
  .pets-in-zoo-card-place {
    font-size: 12.8449px;
    line-height: 15px;
    color: #919191;
    margin-bottom: 5px;
  }
  .image {
    width: 155.86px;
    height: 150.47px;
    -webkit-clip-path: path("M142.873 31.9215C156.388 50.1538 160.142 75.0047 153.134 94.1112C146.126 113.218 128.606 126.705 108.459 137.194C88.4357 147.684 65.785 155.302 46.513 148.683C27.2411 142.19 11.2229 121.709 4.34002 97.4829C-2.41767 73.2564 -0.0399708 45.2835 14.4766 26.9263C29.1182 8.44423 55.7736 -0.547054 80.9272 0.826614C105.956 2.20028 129.357 13.814 142.873 31.9215Z");
            clip-path: path("M142.873 31.9215C156.388 50.1538 160.142 75.0047 153.134 94.1112C146.126 113.218 128.606 126.705 108.459 137.194C88.4357 147.684 65.785 155.302 46.513 148.683C27.2411 142.19 11.2229 121.709 4.34002 97.4829C-2.41767 73.2564 -0.0399708 45.2835 14.4766 26.9263C29.1182 8.44423 55.7736 -0.547054 80.9272 0.826614C105.956 2.20028 129.357 13.814 142.873 31.9215Z");
  }
  .pets-in-zoo-heading {
    width: 100%;
  }
  .pets-in-zoo-heading button {
    width: 303px;
    height: 40px;
    font-size: 16px;
  }
  .pets-in-zoo-card-name {
    font-size: 17.2414px;
    line-height: 20px;
  }
  .pets-in-zoo-card-place {
    font-size: 13.41px;
    line-height: 16px;
  }
}

@media (max-width: 1220px) {
  .pets-in-zoo {
    width: 98%;
    margin-bottom: 46px;
  }
  .pets-in-zoo-wrapper {
    width: 95.16%;
    gap: 2.027%;
  }
  .pets-in-zoo-card {
    width: 31.982%;
    height: 273px;
    margin-bottom: 16px;
  }
  .pets-in-zoo-card-watch-icon {
    width: 22px;
  }
  .pets-in-zoo-card-text {
    height: 72px;
    padding: 0px 8px 8px 36px;
  }
  .pets-in-zoo-heading {
    padding-left: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 151px;
  }
  .arrow-btns-wrapper {
    height: 340px;
    margin-bottom: 49px;
  }
  .pets-in-zoo-card-name {
    font-size: 17.2414px;
    line-height: 20px;
  }
  .pets-in-zoo-card-place {
    font-size: 13.41px;
    line-height: 16px;
  }
  .image {
    width: 155.86px;
    height: 150.47px;
    -webkit-clip-path: path("M142.873 31.9215C156.388 50.1538 160.142 75.0047 153.134 94.1112C146.126 113.218 128.606 126.705 108.459 137.194C88.4357 147.684 65.785 155.302 46.513 148.683C27.2411 142.19 11.2229 121.709 4.34002 97.4829C-2.41767 73.2564 -0.0399708 45.2835 14.4766 26.9263C29.1182 8.44423 55.7736 -0.547054 80.9272 0.826614C105.956 2.20028 129.357 13.814 142.873 31.9215Z");
            clip-path: path("M142.873 31.9215C156.388 50.1538 160.142 75.0047 153.134 94.1112C146.126 113.218 128.606 126.705 108.459 137.194C88.4357 147.684 65.785 155.302 46.513 148.683C27.2411 142.19 11.2229 121.709 4.34002 97.4829C-2.41767 73.2564 -0.0399708 45.2835 14.4766 26.9263C29.1182 8.44423 55.7736 -0.547054 80.9272 0.826614C105.956 2.20028 129.357 13.814 142.873 31.9215Z");
  }
}

@media (max-width: 900px) {
  .pets-in-zoo {
    width: 95%;
  }
  .pets-in-zoo-wrapper {
    width: 95.16%;
    gap: 2.027%;
  }
  .pets-in-zoo-card {
    width: 31.982%;
    height: 273px;
    margin-bottom: 30px;
    -webkit-box-flex: 48%;
        -ms-flex: 48%;
            flex: 48%;
  }
  .pets-in-zoo-card:nth-child(3n+0) {
    display: none;
  }
  .pets-in-zoo-card-text {
    height: 72px;
    padding: 0px 21px 0px 19px;
  }
  .pets-in-zoo-heading {
    width: 100%;
  }
  .arrow-btns-wrapper {
    height: 348px;
  }
  .pets-in-zoo-card-name {
    font-size: 16px;
    line-height: 19px;
  }
  .pets-in-zoo-card-place {
    font-size: 12px;
    line-height: 14px;
  }
  .image {
    width: 155.86px;
    height: 150.47px;
    -webkit-clip-path: path("M142.873 31.9215C156.388 50.1538 160.142 75.0047 153.134 94.1112C146.126 113.218 128.606 126.705 108.459 137.194C88.4357 147.684 65.785 155.302 46.513 148.683C27.2411 142.19 11.2229 121.709 4.34002 97.4829C-2.41767 73.2564 -0.0399708 45.2835 14.4766 26.9263C29.1182 8.44423 55.7736 -0.547054 80.9272 0.826614C105.956 2.20028 129.357 13.814 142.873 31.9215Z");
            clip-path: path("M142.873 31.9215C156.388 50.1538 160.142 75.0047 153.134 94.1112C146.126 113.218 128.606 126.705 108.459 137.194C88.4357 147.684 65.785 155.302 46.513 148.683C27.2411 142.19 11.2229 121.709 4.34002 97.4829C-2.41767 73.2564 -0.0399708 45.2835 14.4766 26.9263C29.1182 8.44423 55.7736 -0.547054 80.9272 0.826614C105.956 2.20028 129.357 13.814 142.873 31.9215Z");
  }
}

@media (max-width: 700px) {
  .pets-in-zoo {
    width: 95%;
    margin-bottom: 0;
  }
  .pets-in-zoo-wrapper {
    width: 95.16%;
    gap: 2.027%;
  }
  .pets-in-zoo-card {
    width: 40%;
    height: 46.56vw;
    margin-bottom: 14px;
    -webkit-box-flex: 48%;
        -ms-flex: 48%;
            flex: 48%;
  }
  .pets-in-zoo-card:nth-child(3n+0) {
    display: none;
  }
  .pets-in-zoo-card-text {
    height: 72px;
    padding: 0px 21px 0px 19px;
    position: relative;
  }
  .pets-in-zoo-heading {
    width: 100%;
    height: 58px;
    margin-top: 21px;
    padding: 0;
  }
  .pets-in-zoo-heading span {
    font-size: 18px;
    line-height: 21px;
  }
  .pets-in-zoo-heading button {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    width: 269px;
    height: 37px;
  }
  .arrow-btns-wrapper {
    height: 348px;
  }
  .pets-in-zoo-card-name {
    font-size: 16px;
    line-height: 19px;
  }
  .pets-in-zoo-card-place {
    font-size: 12px;
    line-height: 14px;
  }
  .image {
    width: 170px;
    height: 164px;
    -webkit-clip-path: path("M154.925 34.0403C169.656 53.9122 173.748 80.9979 166.109 101.823C158.471 122.647 139.376 137.347 117.416 148.78C95.5924 160.213 70.9047 168.516 49.8997 161.302C28.8947 154.225 11.4359 131.903 3.93415 105.498C-3.43125 79.0924 -0.839724 48.6039 14.9822 28.5959C30.9406 8.45175 59.993 -1.3481 87.4087 0.149096C114.688 1.6463 140.194 14.3044 154.925 34.0403Z");
            clip-path: path("M154.925 34.0403C169.656 53.9122 173.748 80.9979 166.109 101.823C158.471 122.647 139.376 137.347 117.416 148.78C95.5924 160.213 70.9047 168.516 49.8997 161.302C28.8947 154.225 11.4359 131.903 3.93415 105.498C-3.43125 79.0924 -0.839724 48.6039 14.9822 28.5959C30.9406 8.45175 59.993 -1.3481 87.4087 0.149096C114.688 1.6463 140.194 14.3044 154.925 34.0403Z");
  }
  .pets-in-zoo-card-watch-icon {
    position: absolute;
    top: -225px;
    right: 10px;
  }
}

@media (max-width: 600px) {
  .pets-in-zoo {
    width: 95%;
    margin-bottom: 103px;
  }
  .pets-in-zoo-wrapper {
    width: 95.16%;
    gap: 2.027%;
  }
  .pets-in-zoo-card {
    height: 294px;
    width: 240px;
    margin-bottom: 18px;
    margin-left: 0px;
  }
  .pets-in-zoo-card:nth-child(2n+0) {
    display: none;
  }
  .pets-in-zoo-card-text {
    height: 84px;
    padding: 0px 12px 3px 14px;
    position: relative;
  }
  .pets-in-zoo-heading {
    width: 100%;
    margin-top: -7px;
  }
  .arrow-btns-wrapper {
    height: 348px;
  }
  .pets-in-zoo-card-name {
    font-size: 17px;
    line-height: 19px;
    padding-left: 3px;
  }
  .pets-in-zoo-card-place {
    font-size: 13px;
    line-height: 14px;
  }
  .image {
    margin-top: 32px;
    width: 152px;
    height: 147px;
    -webkit-clip-path: path("M139.92 30.6944C153.164 48.56 156.843 72.9112 149.976 91.6334C143.109 110.356 125.941 123.571 106.198 133.85C86.5782 144.129 64.3829 151.594 45.4985 145.108C26.6142 138.745 10.9181 118.677 4.17368 94.9373C-2.44811 71.198 -0.118227 43.7877 14.1064 25.7997C28.4536 7.68928 54.5728 -1.12118 79.2206 0.224864C103.746 1.57091 126.677 12.9511 139.92 30.6944Z");
            clip-path: path("M139.92 30.6944C153.164 48.56 156.843 72.9112 149.976 91.6334C143.109 110.356 125.941 123.571 106.198 133.85C86.5782 144.129 64.3829 151.594 45.4985 145.108C26.6142 138.745 10.9181 118.677 4.17368 94.9373C-2.44811 71.198 -0.118227 43.7877 14.1064 25.7997C28.4536 7.68928 54.5728 -1.12118 79.2206 0.224864C103.746 1.57091 126.677 12.9511 139.92 30.6944Z");
  }
  .pets-in-zoo-card-watch-icon {
    position: absolute;
    top: -210px;
    right: 20px;
    width: 26.18px;
  }
  .pets-in-zoo-heading span {
    font-size: 18px;
    line-height: 21px;
  }
  .pets-in-zoo-heading button {
    font-size: 14px;
    line-height: 37px;
    width: 269px;
    height: 37px;
    position: absolute;
    bottom: -76px;
    left: 18px;
  }
  .penguin-svg {
    visibility: hidden;
  }
}

.pay-and-feed__section {
  width: 100%;
  background-image: url("../../assets/images/pay-and-feed-background.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.pay-and-feed-forest {
  position: relative;
}

.pay-and-feed__arrow,
.pay-and-feed__arrow_640 {
  position: absolute;
  right: -31%;
  top: 40%;
  width: 13vw;
}

.pay-and-feed__arrow_640 {
  display: none;
}

#tree4 {
  position: absolute;
  width: 130px;
  height: 230px;
  left: 16px;
  bottom: 210px;
}

#bamboo3 {
  position: absolute;
  width: 116px;
  height: 206px;
  right: 32px;
  bottom: 148px;
}

.pay-and-feed {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pay-and-feed-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85.66%;
  margin: 91px auto 0 auto;
}

.pay-and-feed-heading {
  font-family: Rubik;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #C5E1E6;
  letter-spacing: normal;
}

.pay-and-feed-btn {
  background: #C5E1E6;
  border-radius: 100px;
  border: none;
  position: static;
  width: 356px;
  height: 52px;
  cursor: pointer;
  font-family: "Roboto Mono";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #0D444D;
}

.pay-and-feed-btn:hover {
  color: #ffffff;
  background-color: #0D444D;
  -webkit-box-shadow: 0px 2px 50px rgba(1, 24, 27, 0.6);
          box-shadow: 0px 2px 50px rgba(1, 24, 27, 0.6);
}

.pay-and-feed__icons {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 50px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pay-and-feed__icon-text {
  position: absolute;
  bottom: 15px;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #C5E1E6;
}

.pay-and-feed__item {
  position: relative;
  margin-top: 50px;
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

@media (max-width: 1920px) {
  .pay-and-feed__section {
    background-image: url("../../assets/images/pay-and-feed-background-1920.svg");
    height: 564px;
  }
  .pay-and-feed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pay-and-feed-wrapper {
    width: 85.66%;
    max-width: 1480px;
    position: static;
    margin: 91px auto 0 auto;
  }
  .pay-and-feed-icons {
    height: 188px;
    margin: 0 auto;
  }
  .pay-and-feed__item {
    max-width: 480px;
    margin: 0;
    width: 32.43vw;
  }
  .forest2 {
    display: block;
  }
  #bamboo3 {
    display: none;
  }
  #tree4 {
    display: block;
    position: absolute;
    width: 102px;
    height: 181px;
    left: -40px;
    bottom: 190px;
  }
}

@media (max-width: 1600px) {
  .pay-and-feed__section {
    background-image: url("../../assets/images/pay-and-feed-background-1200.svg");
  }
  .pay-and-feed {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .pay-and-feed-wrapper {
    width: 93.66%;
    margin: 34px 46px 0px auto;
  }
  #tree4 {
    display: block;
    position: absolute;
    width: 102px;
    height: 181px;
    left: -40px;
    bottom: 90px;
  }
  .pay-and-feed-btn {
    width: 255px;
    height: 40px;
    overflow: hidden;
    line-height: 2;
  }
  .pay-and-feed-heading {
    width: 174px;
    overflow: hidden;
  }
  .pay-and-feed__icons {
    margin: 24px auto 74px 16px;
  }
  .pay-and-feed__arrow {
    right: -25%;
    width: 16vw;
    top: 45%;
  }
  .pay-and-feed__item {
    width: 31.91vw;
  }
}

@media (max-width: 1150px) {
  .pay-and-feed__section {
    background-image: url("../../assets/images/pay-and-feed-background-640.svg");
    background-position-y: bottom;
    height: 472px;
  }
  .pay-and-feed-forest {
    display: none;
  }
  .pay-and-feed-wrapper {
    margin: 0 auto;
  }
  #tree4 {
    display: none;
  }
  .pay-and-feed__icons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
  .pay-and-feed-btn {
    width: 174px;
    height: 40px;
    overflow: hidden;
    line-height: 2;
  }
  .pay-and-feed-heading {
    width: 174px;
    overflow: hidden;
  }
  .pay-and-feed__arrow {
    display: none;
  }
  .pay-and-feed__arrow_640 {
    display: inline-block;
    width: 52px;
    right: -39%;
  }
  .pay-and-feed__item {
    max-width: 186px;
    margin: 0;
    width: 29vw;
  }
}

@media (max-width: 800px) {
  .pay-and-feed__arrow_640 {
    display: inline-block;
    width: 52px;
    right: -24%;
  }
  .pay-and-feed-img {
    width: 100%;
  }
  .pay-and-feed__icon-text {
    bottom: -10px;
  }
  .pay-and-feed-heading {
    font-size: 18px;
    line-height: 21px;
  }
  .pay-and-feed-wrapper {
    margin-top: -37px;
    width: 89.66%;
  }
}

@media (max-width: 600px) {
  .pay-and-feed__icon-text {
    position: absolute;
    bottom: -37px;
    text-align: center;
    color: #C5E1E6;
  }
  .pay-and-feed__section {
    background-image: url("../../assets/images/pay-and-feed-background-320.svg");
    height: 904px;
  }
  .pay-and-feed {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100%;
  }
  .pay-and-feed-wrapper {
    margin: 50px auto 0 10px;
  }
  .pay-and-feed__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 70%;
    margin: -14px auto 74px 54px;
  }
  .pay-and-feed__item {
    width: 186px;
    height: 161px;
  }
  .pay-and-feed__arrow_640 {
    display: inline-block;
    width: 52px;
    right: -24%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    display: sta;
    transform: rotate(90deg);
    position: static;
    margin-top: 21px;
  }
  .pay-and-feed-btn {
    width: 93.75%;
    max-width: 350px;
    position: absolute;
    bottom: 10%;
    left: 3.125%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.05em;
  }
  .pay-and-feed-img {
    width: 100%;
  }
  .pay-and-feed__icon-text {
    bottom: -45px;
  }
}

.forest {
  width: 100%;
  height: 523px;
  background-image: url(../../assets/images/panda-forest-background.svg);
  background-repeat: no-repeat;
  background-position: center top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.forest-images {
  width: 1920px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#bamboo1 {
  position: absolute;
  width: 116px;
  height: 206px;
  left: 0;
  bottom: -11px;
}

#tree1 {
  position: absolute;
  width: 130px;
  height: 230px;
  left: 221px;
  bottom: -15px;
}

#tree2 {
  position: absolute;
  width: 89px;
  height: 158px;
  left: 795px;
  bottom: -3px;
}

#panda {
  position: absolute;
  width: 163px;
  height: 155px;
  left: 950px;
  top: -56px;
}

#bamboo2 {
  position: absolute;
  width: 147px;
  height: 280px;
  left: 1039px;
  top: -168px;
}

#tree3 {
  position: absolute;
  width: 130px;
  height: 230px;
  left: 1616px;
  top: -97px;
}

@media (max-width: 1920px) {
  .forest {
    background-image: url("../../assets/images/forest_landing_1200.svg");
  }
  .forest-images {
    max-width: 1920px;
    width: 100%;
  }
  #tree3 {
    display: none;
  }
}

@media (max-width: 1300px) {
  #tree1 {
    left: 259px;
    bottom: -34px;
  }
  #tree2 {
    left: 611px;
    bottom: -23px;
  }
  #panda {
    left: 916px;
    top: -3px;
  }
  #bamboo2 {
    left: 1005px;
    top: -116px;
  }
}

@media (max-width: 1180px) {
  #bamboo1 {
    display: none;
  }
  #tree1 {
    left: 259px;
    bottom: -34px;
  }
  #tree2 {
    left: 611px;
    bottom: -23px;
  }
  #panda {
    left: 716px;
    top: -3px;
  }
  #bamboo2 {
    left: 805px;
    top: -116px;
  }
}

@media (max-width: 1000px) {
  #bamboo1 {
    display: none;
  }
  #tree1 {
    left: 30px;
    bottom: -181px;
    width: 72px;
  }
  #tree2 {
    left: 226px;
    bottom: -159px;
    width: 49px;
  }
  #panda {
    left: 495px;
    top: 74px;
    width: 120px;
  }
  #bamboo2 {
    left: 544px;
    top: -16px;
    width: 100px;
  }
}

@media (max-width: 750px) {
  .forest {
    background-image: url("../../assets/images/forest_landing_640.svg");
    height: 291px;
  }
  #bamboo1 {
    display: none;
  }
  #tree1 {
    left: 30px;
    bottom: -68px;
    width: 72px;
  }
  #tree2 {
    left: 226px;
    bottom: -46px;
    width: 49px;
  }
  #panda {
    left: 395px;
    top: -40px;
    width: 90.69px;
  }
  #bamboo2 {
    left: 444px;
    top: -127px;
    width: 81.89px;
  }
}

@media (max-width: 550px) {
  #bamboo1 {
    display: none;
  }
  #tree1 {
    left: 30px;
    bottom: -181px;
    width: 72px;
  }
  #tree2 {
    display: none;
  }
  #panda {
    left: 295px;
    top: 74px;
    width: 90.69px;
  }
  #bamboo2 {
    left: 344px;
    top: -16px;
    width: 81.89px;
  }
}

@media (max-width: 450px) {
  .forest {
    background-image: url(../../assets/images/forest_landing_320.svg);
    height: 260px;
    background-position: bottom;
  }
  #bamboo1 {
    display: none;
  }
  #tree1 {
    left: -8px;
    bottom: -67px;
    width: 49.74px;
  }
  #tree2 {
    display: none;
  }
  #panda {
    left: 160px;
    top: -55px;
    width: 90.69px;
  }
  #bamboo2 {
    left: 210px;
    top: -144px;
    width: 81.89px;
  }
}

.testimonials {
  position: relative;
  width: 1480px;
  height: 553px;
  margin: auto;
}

.testimonials-wrapper {
  width: 1480px;
  height: 553px;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__btn,
.testimonials__heading {
  position: absolute;
  text-transform: uppercase;
}

.testimonials__heading {
  top: 113px;
  font-family: Rubik;
  font-size: 24px;
  line-height: 28px;
  color: #0D444D;
  letter-spacing: 0px;
}

.testimonials__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  top: 101px;
  font-family: "Roboto Mono";
  font-size: 18px;
  line-height: 52px;
  letter-spacing: 0.1em;
  width: 256px;
  height: 52px;
  color: #19707D;
  border: 1.5px solid #19707D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  background: none;
  cursor: pointer;
  z-index: 3;
}

.testimonials__btn img {
  margin-right: 14px;
}

.testimonials__btn:hover {
  color: #ffffff;
  background-color: #0D444D;
  -webkit-box-shadow: 0px 2px 50px rgba(1, 24, 27, 0.6);
          box-shadow: 0px 2px 50px rgba(1, 24, 27, 0.6);
}

.testimonials__item {
  position: relative;
  margin-top: 117px;
  height: 259px;
}

.testimonials__item-text {
  height: 172px;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding-top: 25px;
  padding-left: 44px;
  padding-right: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.testimonials__item-text::after {
  content: "";
  position: absolute;
  bottom: 22%;
  left: 16%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

.testimonials__item-span {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #B3B3B3;
  letter-spacing: normal;
}

.testimonials__item-paragraph {
  margin: 0;
  padding-top: 10px;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #2D2D2D;
}

.testimonials__item-user {
  margin-top: 17px;
  margin-left: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__item-user-info {
  margin-left: 16px;
  white-space: nowrap;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  letter-spacing: normal;
}

@media (max-width: 1920px) {
  .testimonials {
    max-width: 1480px;
    width: 97%;
    height: unset;
  }
  .testimonials-wrapper {
    max-width: 1480px;
    width: 98%;
    height: unset;
    margin: 0 auto 0 auto;
    gap: 18px;
  }
  .testimonials__heading {
    top: 63px;
    left: 10px;
  }
  .testimonials__btn {
    width: 236px;
    height: 40px;
    font-size: 16px;
    top: 57px;
    letter-spacing: 0.1em;
    margin-right: -4px;
  }
  .testimonials__item {
    margin-top: 133px;
  }
  .testimonials__item-text {
    padding-left: 46px;
    padding-right: 96px;
  }
}

@media (max-width: 950px) {
  .testimonials-wrapper {
    max-width: 950px;
    width: 96%;
    margin: 0 auto 0 auto;
    gap: 18px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonials__item {
    width: 256px;
    margin-top: 64px;
    height: 218px;
  }
  .testimonials__btn {
    right: 10px;
  }
  .testimonials__item-text {
    height: 130px;
    width: 256px;
    padding-top: 17px;
    padding-left: 14px;
    padding-right: 12px;
  }
  .testimonials__item-text::after {
    bottom: 39%;
  }
  .testimonials-user-img {
    width: 40px;
  }
  .testimonials__item:nth-child(3) {
    overflow: hidden;
  }
  .testimonials__heading {
    font-size: 18px;
    line-height: 21px;
    top: 7px;
    left: 6px;
  }
  .testimonials__btn {
    font-size: 14px;
    width: 210px;
    height: 37px;
    right: 17px;
    top: -2px;
  }
}

@media (max-width: 600px) {
  .testimonials {
    height: 730px;
    width: 100%;
    padding-top: 32px;
  }
  .testimonials-wrapper {
    width: 96%;
    height: 618px;
    margin: 38px 0 17px 0px;
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .testimonials__item {
    width: 300px;
    height: 190px;
    margin: 0;
    margin-top: 0px;
  }
  .testimonials__item-span {
    font-size: 12px;
    line-height: 14px;
  }
  .testimonials__item-text {
    height: 133px;
    padding-top: 7px;
    width: 300px;
    padding-left: 20px;
  }
  .testimonials__item-paragraph {
    font-size: 14px;
    line-height: 20px;
  }
  .testimonials__item-text::after {
    bottom: 14%;
  }
  .testimonials__item-user {
    margin-top: 9px;
    margin-left: 25px;
    width: 80%;
  }
  .testimonials__item-user-info {
    font-size: 14px;
    white-space: nowrap;
  }
  .testimonials-user-img {
    width: 40px;
  }
  .testimonials__btn {
    top: 725px;
    width: 300px;
    height: 37px;
    font-size: 14px;
    line-height: 37px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials__heading {
    font-size: 18px;
    line-height: 21px;
    position: static;
    margin-left: 9px;
  }
}

.look-at-animals {
  width: 1480px;
  height: 320px;
  margin: auto;
  position: relative;
}

.look-at-animals__heading {
  margin: 0;
  padding-top: 12px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0D444D;
}

.look-at-animals__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 131px;
  width: 1480px;
  margin-top: 64px;
}

.look-at-animals__item-title {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #2D2D2D;
  margin-top: 9px;
  padding-right: 6px;
}

.look-at-animals__image {
  cursor: pointer;
  width: 76px;
  height: 74px;
  -webkit-clip-path: path("M52.3634 66.2422L52.3625 66.2426C42.6079 71.353 31.6849 74.9978 22.4409 71.8232L22.4389 71.8225C13.1919 68.7067 5.44283 58.8433 2.10629 47.1001C-1.16887 35.3578 0.000248415 21.8489 6.98486 13.0163C14.0321 4.12084 26.9009 -0.239575 39.0852 0.425826C51.1978 1.09062 62.5033 6.71126 69.0213 15.4431C75.5448 24.2434 77.3487 36.2349 73.9762 45.4295C70.6068 54.6159 62.1663 61.1384 52.3634 66.2422Z");
          clip-path: path("M52.3634 66.2422L52.3625 66.2426C42.6079 71.353 31.6849 74.9978 22.4409 71.8232L22.4389 71.8225C13.1919 68.7067 5.44283 58.8433 2.10629 47.1001C-1.16887 35.3578 0.000248415 21.8489 6.98486 13.0163C14.0321 4.12084 26.9009 -0.239575 39.0852 0.425826C51.1978 1.09062 62.5033 6.71126 69.0213 15.4431C75.5448 24.2434 77.3487 36.2349 73.9762 45.4295C70.6068 54.6159 62.1663 61.1384 52.3634 66.2422Z");
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.look-at-animals__image::before {
  content: "";
  position: absolute;
  top: -10%;
  bottom: -10%;
  left: -10%;
  right: -10%;
  background: var(--i) center/cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.look-at-animals__image:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.look-at-animals__image:hover::before {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.look-at-animals__arrow-btns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1920px) {
  .look-at-animals {
    max-width: 1480px;
    width: 100%;
  }
  .look-at-animals__wrapper {
    max-width: 1480px;
    width: 100%;
  }
  .look-at-animals__wrapper-item {
    width: 105px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1500px) {
  .look-at-animals {
    height: 291px;
  }
  .look-at-animals__wrapper {
    width: 98%;
    margin-top: 40px;
  }
  .look-at-animals__wrapper-item {
    width: 160px;
  }
  .look-at-animals__wrapper-item:nth-child(7) {
    display: none;
  }
  .look-at-animals__heading {
    padding-left: 26px;
    padding-top: 50px;
  }
}

@media (max-width: 800px) {
  .look-at-animals {
    height: 223px;
  }
  .look-at-animals__wrapper-item:nth-child(6) {
    display: none;
  }
  .look-at-animals__heading {
    font-size: 18px;
    line-height: 21px;
    padding-left: 16px;
    padding-top: 22px;
  }
  .look-at-animals__wrapper {
    margin-top: 31px;
  }
  .look-at-animals__wrapper-item {
    width: 105px;
  }
}

@media (max-width: 700px) {
  .look-at-animals__wrapper-item:nth-child(5) {
    display: none;
  }
}

@media (max-width: 500px) {
  .look-at-animals {
    height: 449px;
  }
  .look-at-animals__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 40px;
  }
  .look-at-animals__wrapper-item {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 39px;
  }
  .look-at-animals__wrapper-item:nth-child(5),
  .look-at-animals__wrapper-item:nth-child(6) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .look-at-animals__heading {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding-left: 0px;
    padding-top: 43px;
  }
  .look-at-animals__arrow-btns-wrapper {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: absolute;
    bottom: 11px;
    left: 42%;
  }
  .look-at-animals__arrow-btns-wrapper > button ~ button {
    display: none;
  }
}

.tooltip {
  position: relative;
  top: 10px;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 410px;
  height: 190px;
  background-color: #ffffff;
  text-align: center;
  padding: 5px 0;
  z-index: 1;
  position: absolute;
  bottom: 196px;
  right: -90px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #0D444D;
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 1600px) {
  .tooltip .tooltiptext {
    width: 33vw;
    height: auto;
    right: 52px;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 850px) {
  .tooltip {
    width: 188px;
    height: 192px;
  }
}

body {
  background-color: #F3F7F8;
}
/*# sourceMappingURL=style.css.map */