.look-at-animals {
  width: 1480px;
  height: 320px;
  margin: auto;
  position: relative;
}

.look-at-animals__heading {
  margin: 0;
  padding-top: 12px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0D444D;
}

.look-at-animals__wrapper {
  display: flex;
  justify-content: space-between;
  height: 131px;
  width: 1480px;
  margin-top: 64px;
}


.look-at-animals__item-title {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #2D2D2D;
  margin-top: 9px;
  padding-right: 6px;
}

.look-at-animals__image {
  cursor: pointer;
  width: 76px;
  height: 74px;
  clip-path: path("M52.3634 66.2422L52.3625 66.2426C42.6079 71.353 31.6849 74.9978 22.4409 71.8232L22.4389 71.8225C13.1919 68.7067 5.44283 58.8433 2.10629 47.1001C-1.16887 35.3578 0.000248415 21.8489 6.98486 13.0163C14.0321 4.12084 26.9009 -0.239575 39.0852 0.425826C51.1978 1.09062 62.5033 6.71126 69.0213 15.4431C75.5448 24.2434 77.3487 36.2349 73.9762 45.4295C70.6068 54.6159 62.1663 61.1384 52.3634 66.2422Z");
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
  // animation: rotateBack 0.5s linear;
}

.look-at-animals__image::before {
  content: "";
  position: absolute;
  top: -10%;
  bottom: -10%;
  left: -10%;
  right: -10%;
  background: var(--i) center/cover;
  transition: transform 0.5s;
  // animation: inherit;
  // animation-direction: reverse;
}

.look-at-animals__image:hover {
  transform: rotate(360deg);
  // animation: rotate 0.5s linear;
}

.look-at-animals__image:hover::before {
  transform: rotate(-360deg);
}


.look-at-animals__arrow-btns-wrapper {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1920px) {
  .look-at-animals {
    max-width: 1480px;
    width: 100%;
  }
  .look-at-animals__wrapper {
    max-width: 1480px;
    width: 100%;
  }
  .look-at-animals__wrapper-item {
    width: 105px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1500px) {
  .look-at-animals {
    height: 291px;
  }
  .look-at-animals__wrapper {
    width: 98%;
    margin-top: 40px;
  }
  .look-at-animals__wrapper-item {
    width: 160px;
  }
  .look-at-animals__wrapper-item:nth-child(7) {
    display: none;
  }
  .look-at-animals__heading {
    padding-left: 26px;
    padding-top: 50px;
  }
}

@media (max-width: 800px) {
  .look-at-animals {
    height: 223px;
  }
  .look-at-animals__wrapper-item:nth-child(6) {
    display: none;
  }
  .look-at-animals__heading {
    font-size: 18px;
    line-height: 21px;
    padding-left: 16px;
    padding-top: 22px;
  }
  .look-at-animals__wrapper {
    margin-top: 31px;
  }
  .look-at-animals__wrapper-item {
    width: 105px;
  }

}

@media (max-width: 700px) {
  .look-at-animals__wrapper-item:nth-child(5) {
    display: none;
  }
}

@media (max-width: 500px) {
  .look-at-animals {
    height: 449px;
  }
  .look-at-animals__wrapper {
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .look-at-animals__wrapper-item {
    flex: 30%;
    display: flex;
    margin-bottom: 39px;
  }
  .look-at-animals__wrapper-item:nth-child(5),
  .look-at-animals__wrapper-item:nth-child(6) {
    display: flex;
  }

  .look-at-animals__heading {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding-left: 0px;
    padding-top: 43px;
  }
  .look-at-animals__arrow-btns-wrapper {
    transform: rotate(90deg);
    position: absolute;
    bottom: 11px;
    left: 42%;
  }
  .look-at-animals__arrow-btns-wrapper > button ~ button {
    display: none;
  }
}
